<div class="histories">
    <h4> Usuario {{arrayUser.username}}</h4>
    <div id="lista">
      <div class='historiaClinica'>
        <table class='tabla'>
          <tr class='titulosTabla'>
            <td>Name</td>
            <td>Surname</td>
            <td>DNI</td>
            <td>Username</td>
            <td>ROL</td>
            <td>SIP</td>
          </tr>
          <tr>
              <td>{{arrayUser.name}}</td>
              <td>{{arrayUser.surname}}</td>
              <td>{{arrayUser.dni}}</td>
              <td>{{arrayUser.username}}</td>
              <td>{{arrayUser.role}}</td>
              <td>{{arrayUser.sip}}</td>
            </tr>
        </table>
      </div>
    </div>